// Styling for the masthead
header.masthead {
  text-align: left;
  color: rgb(194, 201, 192);
  background-image: url("#{$header-image}");
  background-color: rgb(77, 74, 69);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: contain;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 20px;
      font-style: italic;
      line-height: 5px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 150px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 20px;
        font-style: initial;
        font-weight: 10;
        line-height: 25px;
        margin-bottom: 20px;
        @include serif-font;
      }
    }
  }
}
